.img_01{
    width: 1263px;
    height: 513px;
    margin-top: 76px;
    margin-left: -8px;
}
.img-01_content{
    /* border: 1px solid black; */
    /* width: 337px; */
    display: inline-block;
    position: relative;
    bottom: 376px;
    color: white;
    bottom: 410px;
    left: 121px;
}
.btn01{
    border-radius: 39px;
    border-color: rgb(228, 88, 0);
    background-color: rgb(228, 88, 0);
    color: white;
    height: 47px;
    width: 154px;
    font-size: 23px;
}
.inp01{
    border: 0px;
    width: 100%;
    height: 100%;
    font-size: 1rem;
    outline: 0px;
    background-color: transparent;
    text-overflow: ellipsis;
    padding-left: 1rem;
    margin-top: auto;
}
.btn02{
    color: white;
    background-color: rgb(228, 88, 0);
    width: 86px;
    position: relative;
    top: -16px;
    left: 267px;
    border-color: rgb(228, 88, 0);
    font-size: 16px;
    border-radius: 5px;
    height: 41px;
}
.input-box{
    border: 1px solid rgb(228, 88, 0);
    width: 359px;
    margin: auto;
    /* position: sticky;
    top: 13px; */
}
.heading01{
    position: relative;
    /* font-weight: 900; */
    /* font-size: 3rem; */
    bottom: 277px;
    left: 317px;
    width: 68%;
}
.container{
    border-radius: 10px;
    border: 1px solid black;
    width: 339px;
    position: relative;
    bottom: 267px;
    padding: 29px;
    margin: 10px;
}
.box-content01{
    position: relative;
    bottom: 30px;
}
.flexbox01{
    display: flex;
}
.img-02{
    height: 39px;
    width: 39px;
}
.topnav {
    overflow: hidden;
    background-color: #e9e9e9;
  }
  .topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Style the "active" element to highlight the current page */
  .topnav a.active {
    background-color: #2196F3;
    color: white;
  }
  
  /* Style the search box inside the navigation bar */
  .topnav input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
  }
  
  /* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */
  @media screen and (max-width: 600px) {
    .topnav a, .topnav input[type=text] {
      float: none;
      display: block;
      text-align: left;
      width: 100%;
      margin: 0;
      padding: 14px;
    }
    .topnav input[type=text] {
      border: 1px solid #ccc;
    }
  }